<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>glTF Model</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.khronos.gltf</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gltf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GLB Model</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.khronos.glb</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>glb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>OBJ Model</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.imboni.trivor.obj</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>obj</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>STL Model</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.imboni.trivor.stl</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>stl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.khronos.gltf</string>
			<key>UTTypeDescription</key>
			<string>glTF Model</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gltf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>model/gltf+json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.khronos.glb</string>
			<key>UTTypeDescription</key>
			<string>Binary glTF Model</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>glb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>model/gltf-binary</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.imboni.trivor.obj</string>
			<key>UTTypeDescription</key>
			<string>OBJ Model</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>obj</string></array>
				<key>public.mime-type</key>
				<array><string>model/obj</string></array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.imboni.trivor.stl</string>
			<key>UTTypeDescription</key>
			<string>STL Model</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>stl</string></array>
				<key>public.mime-type</key>
				<array><string>model/stl</string></array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
